body {
  --tw-bg-opacity: 1;
  background-color: rgb(23 37 84 / var(--tw-bg-opacity));
}

.card {
  min-width: 15rem;
  width: 15rem;
  max-width: 15rem;
  min-height: 15rem;
  height: 15rem;
  max-height: 15rem;
}
